<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section
      type="KayMcCormick.Dev.ContainerHelperSection, KayMcCormick.Dev, Version=1.0.0.0, Culture=neutral, PublicKeyToken=824fda8c8279474c"
      name="ContainerHelperSettings"
      allowDefinition="Everywhere" />
    <section
      type="KayMcCormick.Dev.LoggingSection, KayMcCormick.Dev, Version=1.0.0.0, Culture=neutral, PublicKeyToken=824fda8c8279474c"
      name="LoggingSettings" allowDefinition="Everywhere" />
  </configSections>
  <LoggingSettings IsEnabledConsoleTarget="false"
                   MinLogLevel="Trace"
                   IsEnabledCacheTarget="false"
                   LogThrowsExceptions="false" />
</configuration>