[submodule "src/WpfExplorer"]
	path = src/WpfExplorer
	url = https://github.com/kaymccormick/WpfExplorer.git
[submodule "src/KmDevWpfControls"]
	path = src/KmDevWpfControls
	url = https://github.com/kaymccormick/KmDevWpfControls.git
[submodule "src/RibbonLib"]
	path = src/RibbonLib
	url = https://github.com/kaymccormick/RibbonLib.git
[submodule "src/AvalonDock"]
	path = src/AvalonDock
	url = https://github.com/kaymccormick/AvalonDock.git
[submodule "src/RoslynCodeControls"]
	path = src/RoslynCodeControls
	url = https://github.com/kaymccormick/RoslynCodeControls.git
