<?xml version="1.0" encoding="utf-8"?>
<nlog internalLogFile="nlog.txt" internalLogLevel="TRACE" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <!-- Logging configuration for FileFinder3/WpfApp1Tests3-->
  <targets>

    <target name="xmlFile" xsi:type="File" fileName="c:\data\logs\test.xml">
<layout xsi:type="Log4JXmlEventLayout" includeAllProperties="true" includeMdlc="true" includeMdc="true" includeNdlc="true"
includendc="true">
</layout>
</target>
    <target xsi:type="Chainsaw"
            name="chainsaw"
            newLine="false"
            layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"
            encoding="utf-8"
            includeSourceInfo="true"
            includeCallSite="true"
            address="udp://10.25.0.102:4445" />

  </targets>
  <rules>
    <logger name="*" minlevel="trace" writeTo="chainsaw" />
    <logger name="*" minlevel="debug" writeTo="xmlFile" />
  </rules>
</nlog>
