<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" />
      </netTcpBinding>
      <mexHttpBinding>
        <binding name="NewBinding1" />
      </mexHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="AnalysisServiceLibrary.Service1">
        <clear />
        <endpoint address="net.tcp://127.0.0.1:6778" binding="netTcpBinding"
                  contract="AnalysisServiceLibrary.IService1" listenUriMode="Explicit">
          <identity>
            <dns value="localhost" />
            <certificateReference storeName="My" storeLocation="CurrentUser"
                                  x509FindType="FindBySubjectDistinguishedName" />
          </identity>
        </endpoint>

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:6778" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0" />
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>