<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="KayMcCormick.Dev.Configuration.ContainerHelperSection, KayMcCormick.Dev, Version=1.0.0.0, Culture=neutral, PublicKeyToken=824fda8c8279474c" name="ContainerHelperSettings" allowDefinition="Everywhere"/>
    <section type="KayMcCormick.Dev.Configuration.LoggingSection, KayMcCormick.Dev, Version=1.0.0.0, Culture=neutral, PublicKeyToken=824fda8c8279474c" name="LoggingSettings" allowDefinition="Everywhere"/>
  </configSections>
  <LoggingSettings IsEnabledConsoleTarget="true" MinLogLevel="Trace" IsEnabledCacheTarget="true"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
