<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging"
               type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="c:\data\logs\Traces2.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <common>
    <logging>
      <factoryAdapter
        type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="ALL" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat"
             value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding
          name="WSDualHttpBinding_ILogReceiverServer" />
        <binding name="WSDualHttpBinding_IAppInfoService" />
      </wsDualHttpBinding>

    </bindings>
    <client>
      <endpoint address="" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_ILogReceiverServer"
                contract="NLog.LogReceiverService.ILogReceiverServer"
                name="WSDualHttpBinding_ILogReceiverServer" />
      <endpoint
        address="http://localhost:8736/ProjInterface/App"
        binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IAppInfoService"
        contract="ServiceReference1.IAppInfoService"
        name="WSDualHttpBinding_IAppInfoService">
        <identity>
          <userPrincipalName value="EXOMAIL-87976\mccor" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="KayMcCormick.Dev.AppInfoService">
        <endpoint
          address="http://localhost:8736/LeafService/App"
          binding="wsDualHttpBinding"
          bindingConfiguration=""
          contract="KayMcCormick.Dev.IAppInfoService" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service
        name="AnalysisServiceLibrary.AnalysisService1">
        <endpoint
          address="http://localhost:8738/AnalysisService1"
          binding="wsDualHttpBinding"
          bindingConfiguration=""
          contract="AnalysisServiceLibrary.IAnalysisService1" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service
        name="KayMcCormick.Dev.Interfaces.CentralService">
        <endpoint
          address="http://localhost:8737/CentralSvc"
          binding="basicHttpBinding"
          bindingConfiguration=""
          contract="KayMcCormick.Dev.Interfaces.ICentralService" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True"
                           httpsGetEnabled="True" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug
            includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>