<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="KayMcCormick.Dev.AppInfoService">
        <endpoint
          address="http://localhost:8736/LeafService/App"
          binding="wsDualHttpBinding"
          bindingConfiguration=""
          contract="KayMcCormick.Dev.IAppInfoService" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service
        name="AnalysisServiceLibrary.AnalysisService1">
        <endpoint
          address="http://localhost:8738/AnalysisService1"
          binding="wsDualHttpBinding"
          bindingConfiguration=""
          contract="AnalysisServiceLibrary.IAnalysisService1" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
      <service
        name="KayMcCormick.Dev.Interfaces.CentralService">
        <endpoint
          address="http://localhost:8737/CentralSvc"
          binding="wsDualHttpBinding"
          bindingConfiguration=""
          contract="KayMcCormick.Dev.Interfaces.ICentralService" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>