<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
    </config>
    <packageSources>
        <clear /> <!-- ensure only the sources defined below are used -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
        <add key="Package source" value="C:\Users\mccor.LAPTOP-T6T0BN1K\source\repos\v3\NewRoot\src\KayMcCormick.Dev\Desktop\Analysis\Analyzer2\Analyzer2" />
    </packageSources>
</configuration>
