<#@ template debug="true" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@assembly name="PresentationFramework.dll"#>
<#@assembly name="System.Xaml.dll"#>
<#@assembly name="System.Xml.dll"#>
<#@assembly name="System.Memory.dll"#>
<#@assembly name="netstandard.dll"#>
<#@assembly name="C:\Users\mccor.LAPTOP-T6T0BN1K\.nuget\packages\system.text.json\4.7.1\lib\net461\System.Text.Json.dll"#>
<#@assembly name="C:\Users\mccor.LAPTOP-T6T0BN1K\.nuget\packages\system.text.encodings.web\4.7.0\lib\netstandard2.0\System.Text.Encodings.Web.dll"#>
<#@assembly name="C:\Users\mccor.LAPTOP-T6T0BN1K\.nuget\packages\system.numerics.vectors\4.5.0\lib\net46\System.Numerics.Vectors.dll"#>
<#@assembly name="C:\Users\mccor.LAPTOP-T6T0BN1K\.nuget\packages\microsoft.bcl.asyncinterfaces\1.1.0\lib\net461\Microsoft.Bcl.AsyncInterfaces.dll"#>
<#@ output extension=".cs"#>
<#@import namespace="System.Windows.Markup" #>
<#@import namespace="System.IO" #>
<#@import namespace="System.Xml" #>
<#@import namespace="System.Text.Json" #>
#if true
using System ;



using System.Linq;
using Microsoft.CodeAnalysis.CSharp ;
using JetBrains.Annotations ;
using Microsoft.CodeAnalysis.CSharp.Syntax ;
using PocoSyntax ;


/// <summary/>
public static class GenTransforms {
<#
            const string ElementTypeMetadataNamePropertyName = "ElementTypeMetadataName" ;
            const string typePropertyName = "Type" ;
            const string fullNamePropertyName = "FullName" ;
            const string titlePropertyName = "Title" ;
            const string elementNamePropertyName = "ElementName" ;
            const string abstractnode = "AbstractNode" ;
            const string predefinednode = "PredefinedNode" ;
            const string subtypenamesPropertyName = "SubTypeNames";

            // ReSharper disable once StringLiteralTypo
            var cDataLogsTypesJson = @"C:\data\logs\types.json" ;
            var types =
                JsonSerializer.Deserialize < List < JsonElement > > (
                                                                     File.ReadAllText (
                                                                                       cDataLogsTypesJson
                                                                                      )
                                                                    ) ;
            var dict = new Dictionary < string , string > ( ) ;
            var dict2 = new Dictionary < string , JsonElement > ( ) ;


            foreach ( var typ in types )
            {
                var k = typ.GetProperty ( typePropertyName )
                           .GetProperty ( fullNamePropertyName )
                           .GetString ( ) ;
                k = k.Substring ( k.LastIndexOf ( '.' ) + 1 ) ;

                dict[ k ] = typ.GetProperty ( titlePropertyName )
                               .GetString ( )
                               .Replace ( " " , "_" ) ;
                dict2[ k ] = typ ;
            }

            foreach ( var typ in types )
            {
                var typeElement = typ.GetProperty ( typePropertyName ) ;
                var typeFullName = typeElement.GetProperty ( fullNamePropertyName ).GetString ( ) ;
                var typeShortName =
                    typeFullName.Substring ( typeFullName.LastIndexOf ( '.' ) + 1 ) ;
                var pocoClassName = "Poco" + typeShortName ;
				string body = "";

                if ( typ.GetProperty ( elementNamePropertyName ).GetString ( ) == abstractnode
                     || typ.GetProperty ( elementNamePropertyName ).GetString ( )
                     == predefinednode )
                {
                    IEnumerable < string > nodes ( string cname )
                    {
                        if ( dict2[ cname ].GetProperty ( elementNamePropertyName ).GetString ( )
                             == abstractnode
                             || dict2[ cname ].GetProperty ( elementNamePropertyName ).GetString ( )
                             == predefinednode )
                        {

                            return dict2[ cname ]
                                  .GetProperty ( subtypenamesPropertyName )
                                  .EnumerateArray ( )
                                  .SelectMany ( xx => nodes ( xx.GetString ( ) ) ) ;
                        }
                        else
                        {
                            return new[] { cname } ;
                        }
                    }

                    var cases = string.Join (
                                             ""
                                           , nodes ( typeShortName )
                                                .Select (
                                                         sn
                                                             => $"case {sn} _: return Transform_{dict[ sn ]}(({sn})node); \n"
                                                        )
                                            ) ;
					body = $"switch(node) {{\n{cases}\n}}\nreturn null;\n";
                }
                else
                {
                    var props = "" ;
                    foreach ( var f in typ.GetProperty ( "Fields" ).EnumerateArray ( ) )
                    {
						
                        var name = f.GetProperty ( "Name" ).GetString ( ) ;
                        if ( ( typeFullName.EndsWith ( "StatementSyntax" )
                               || pocoClassName == "PocoBlockSyntax" )
                             && name == "AttributeLists" )
                        {
                            continue ;
                        }

                        var t1 = f.GetProperty ( typePropertyName ) ;
                        var value = "" ;
                        
                        string msg = null ;
                        var typeName = f.GetProperty ( "TypeName" ).GetString ( ) ;
                        if ( typeName == "bool" )
                        {
                            value = $"node.{name}" ;
                            msg   = "bool" ;
                        }
                        else if ( t1.ValueKind == JsonValueKind.Object )
                        {
                            var k = t1.GetProperty ( fullNamePropertyName ).GetString ( ) ;
                            k = k.Substring ( k.LastIndexOf ( '.' ) + 1 ) ;

                            if ( dict.TryGetValue ( k , out var method ) )
                            {
                                value = $"Transform_{method}(node?.{name})" ;
                            }
                            else
                            {
                                msg = "not found" ;
                                if ( f.GetProperty ( "TypeName" ).GetString ( ) == "SyntaxToken" )
                                {
                                    value =
                                        $"node == null ? null : new PocoSyntaxToken {{RawKind = node.{name}.RawKind, Kind = node.{name}.Kind().ToString(), Value = node.{name}.Value, ValueText = node.{name}.ValueText }}" ;
                                }
                              }
                        }

						                            var t2 = f.GetProperty ( ElementTypeMetadataNamePropertyName )
                                      .GetString ( ) ;
                            //DebugUtils.WriteLine ( $"{t2}" ) ;
                            if ( t2 == "PocoSyntax.PocoSyntaxTokenCollection" )
                            {
                            }

							string cstr = null;
                            string transform = null ;
                            if ( t2 == null )
                            {

                            }
                            else
                            {
							   var lastPeriod = t2.LastIndexOf('.');
							   var part =lastPeriod >= 0 ?  t2.Substring(lastPeriod + 1) : t2;
							   var key = part;
                                if ( key != null )
                                {
                                    var m2 = dict[key ] ;
                                    transform = $".Select(Transform_{m2}).ToList()" ;
									cstr = $"new Poco{key}Collection(node?.{name}{transform})";
                                }
                            }

                        if (!string.IsNullOrEmpty( transform)) {
                        {
						if(cstr != null)
						{
						value = cstr;
						}else {
                            value = $"node?.{name}{transform}" ;}

                        if ( value == "" )
                        {
                            value = msg ;
                        }

                        var code = $"    {name} = {value}, " ;
                        props = props + "\n" + code ;
                    }
					}
					}
                    body = $"return new {pocoClassName}() {{ {props} }};" ;
					}
#>

        /// <summary></summary>
        [NotNull]
        public static <#=pocoClassName#> Transform_<#=typ.GetProperty("Title").GetString().Replace(" ", "_")#> ([NotNull] <#=typeShortName#> node) {
            <#= body.Replace("\n", "\n            ") #>

        }

<#	
    }
#>
}
#endif

