<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogFile="nlog.txt" internalLogLevel="DEBUG" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="jsonFile" xsi:type="File" fileName="c:\logs\${processname}.json" >
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="">
              <attribute name="time" layout="${longdate}" />
              <attribute name="level" layout="${level:upperCase=true}"/>
              <attribute name="message" layout="${message}" />
       </layout>
</target>
      <target xsi:type="Chainsaw"
              name="chainsaw"
              newLine="false"
              layout="${threadid}-${threadname} ${longdate}|${level:uppercase=true}|${logger}|${message}"
              encoding="utf-8"
              includeSourceInfo="true"
              includeCallSite="true"
      address="udp://192.168.10.1:4445"/>

<target name="xmllogfile" xsi:type="File"  fileName="c:\logs\${processname}.xml"  layout="${log4jxmlevent}"/>
  </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="jsonfile" />
      <logger name="*" minlevel="Trace" writeTo="xmllogfile" />
        <logger name="*"
                minlevel="Trace"
                writeTo="viewer" />
        <logger name="*"
                minlevel="Debug"
                writeTo="chainsaw" />
    </rules>
</nlog>
