<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAnalysisService1" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8735/Service1/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReference1.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:8738/AnalysisService1" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IAnalysisService1"
                contract="AnalysisService1Reference.IAnalysisService1" name="WSDualHttpBinding_IAnalysisService1">
                <identity>
                    <userPrincipalName value="EXOMAIL-87976\mccor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>