<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define KayMcCormick.Dev_TargetDir=$(var.KayMcCormick.Dev.TargetDir)?>
  <?define ConfigTest_TargetDir=$(var.ConfigTest.TargetDir)?>
	<Product Id="*" Name="ConfigTestSetup" Language="1033" Version="1.0.0.0" Manufacturer="Kay McCormick" UpgradeCode="1295d322-06ae-42fe-8189-6abf2385e847">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ConfigTestSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ManufacturerFolder" Name="KayMcCormick">
          <Directory Id="INSTALLFOLDER" Name="ConfigTest"/>
          <Directory Id="WorkDir" Name="work" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Kay McCormick"/>
      </Directory>
    </Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="KayMcCormick.Dev.dll" Guid="d2707b91-02cf-44d3-99ad-f3016a8696e2">
			  <File Id="KayMcCormick.Dev.dll" Name="KayMcCormick.Dev.dll" Source="$(var.KayMcCormick.Dev_TargetDir)KayMcCormick.Dev.dll" />
			</Component>
			<Component Id="ConfigTest.exe" Guid="158d9503-dc7b-46ea-8700-ee92e7694d6a">
        <File Id="ConfigTest.exe" Name="ConfigTest.exe" Source="$(var.ConfigTest_TargetDir)ConfigTest.exe">
					<Shortcut Id="ConfigTest_ShortCut" Description="Configuration Tester" Name="Kay McCormick Configuration Tester" Show="normal" WorkingDirectory="WorkDir" Directory="ApplicationProgramsFolder" Advertise="yes"/>
        </File>
			</Component>
			<Component Id="ConfigTest.exe.config" Guid="60ae108f-c06c-4ba9-ab5c-271a4cb5bd77">
			  <File Id="ConfigTest.exe.config" Name="ConfigTest.exe.config" Source="$(var.ConfigTest_TargetDir)ConfigTest.exe.config" />
			</Component>
			<Component Id="NLog.dll" Guid="2ea85ff6-cec8-4925-a503-d2eacda8397a">
			  <File Id="NLog.dll" Name="NLog.dll" Source="$(var.ConfigTest_TargetDir)NLog.dll" />
			</Component>
			<Component Id="Autofac.dll" Guid="75551e0a-968e-45b3-bac5-1861d8cfd416">
			  <File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.ConfigTest_TargetDir)Autofac.dll" />
			</Component>
			<Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="ea636d35-7e5e-4c99-b6eb-ff1ebfdbd0ee">
			  <File Id="Microsoft.Bcl.AsyncInterfaces.dll" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.ConfigTest_TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="67e9657c-20a7-4430-90b5-70a68a2c3099">
			  <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.ConfigTest_TargetDir)System.Threading.Tasks.Extensions.dll" />
			</Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="e6ad886d-9e26-42db-ac61-58c2972c7c2c">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.ConfigTest_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
			<Component Id="System.ValueTuple.dll" Guid="7aef68e8-bb6b-488e-a885-39f5a13c2188">
			  <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.ConfigTest_TargetDir)System.ValueTuple.dll" />
			</Component>
			<Component Id="System.Reactive.dll" Guid="6f733754-29aa-4f0e-bddc-0de8a8625760">
			  <File Id="System.Reactive.dll" Name="System.Reactive.dll" Source="$(var.ConfigTest_TargetDir)System.Reactive.dll" />
			</Component>
			<Component Id="xunit.core.dll" Guid="09b00001-c2af-4bd8-ab56-096e65e92147">
			  <File Id="xunit.core.dll" Name="xunit.core.dll" Source="$(var.ConfigTest_TargetDir)xunit.core.dll" />
			</Component>
			<Component Id="xunit.abstractions.dll" Guid="1042d2ca-2a35-46b5-b129-db3ca30e217e">
			  <File Id="xunit.abstractions.dll" Name="xunit.abstractions.dll" Source="$(var.ConfigTest_TargetDir)xunit.abstractions.dll" />
			</Component>
			<Component Id="Castle.Core.dll" Guid="cfc83491-1088-4a66-8c17-f98691318841">
			  <File Id="Castle.Core.dll" Name="Castle.Core.dll" Source="$(var.ConfigTest_TargetDir)Castle.Core.dll" />
			</Component>
			<Component Id="System.Text.Json.dll" Guid="7a2b2d1d-7ffa-4173-ab49-a77443bf70cb">
			  <File Id="System.Text.Json.dll" Name="System.Text.Json.dll" Source="$(var.ConfigTest_TargetDir)System.Text.Json.dll" />
			</Component>
			<Component Id="System.Memory.dll" Guid="556c9320-1a42-46d1-9f34-d11d7ff8507b">
			  <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.ConfigTest_TargetDir)System.Memory.dll" />
			</Component>
			<Component Id="System.Numerics.Vectors.dll" Guid="16b7daa6-d763-455d-b3f7-66c04ac2e776">
			  <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.ConfigTest_TargetDir)System.Numerics.Vectors.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="86cb4cda-6bd1-4808-876c-fdce5c45b85e">
			  <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.ConfigTest_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="System.Text.Encodings.Web.dll" Guid="99746c77-c7ae-47e3-9b02-88ec59e8aac4">
			  <File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="$(var.ConfigTest_TargetDir)System.Text.Encodings.Web.dll" />
			</Component>
			<Component Id="xunit.execution.desktop.dll" Guid="c8bc1a70-20e8-4dde-9a18-ffa1cefce404">
			  <File Id="xunit.execution.desktop.dll" Name="xunit.execution.desktop.dll" Source="$(var.ConfigTest_TargetDir)xunit.execution.desktop.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
