<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define ProjInterface_TargetDir=$(var.ProjInterface.TargetDir)?>
	<Fragment>
    <FeatureGroup Id="unused">
      <ComponentGroupRef Id="lib_alpine_x64_native_.._files" />
      <ComponentGroupRef Id="lib_debian_arm64_native_.._files" />
      <ComponentGroupRef Id="lib_alpine.3.9_x64_native_.._files" />
      <ComponentGroupRef Id="lib_fedora_x64_native_.._files" />
      <ComponentGroupRef Id="lib_debian.9_x64_native_.._files" />
      <ComponentGroupRef Id="lib_linux_x64_native_.._files" />
      <ComponentGroupRef Id="lib_osx_native_.._files" />
      <ComponentGroupRef Id="lib_rhel_x64_native_.._files" />
      <ComponentGroupRef Id="lib_ubuntu.16.04_arm64_native_.._files" />
      <ComponentGroupRef Id="lib_ubuntu.18.04_x64_native_.._files" />
    </FeatureGroup>
	</Fragment>
	<Fragment>
	  <ComponentGroup Id="Assets_LaunchSamplingTargets_SVG_files" Directory="Assets_LaunchSamplingTargets_SVG">
	    <Component Id="Assets_LaunchSamplingTargets_SVG_Artboard_1.svg" Guid="1f91e361-ffa4-4a63-b090-7d47ba4973b7">
	      <File Id="Assets_LaunchSamplingTargets_SVG_Artboard_1.svg" Name="Artboard 1.svg" Source="$(var.ProjInterface_TargetDir)Assets\LaunchSamplingTargets\SVG\Artboard 1.svg" />
	    </Component>
	  </ComponentGroup>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="Assets_files" Directory="Assets">
      <Component Id="Assets_LaunchSamplingTarget_16x.svg" Guid="19962c57-868b-4e9c-bbec-a890a38efd7b">
        <File Id="Assets_LaunchSamplingTarget_16x.svg" Name="LaunchSamplingTarget_16x.svg" Source="$(var.ProjInterface_TargetDir)Assets\LaunchSamplingTarget_16x.svg" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
