<?xml version="1.0" encoding="UTF-8"?>

<Wix
  xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
  xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define KayMcCormick.Dev_TargetDir=$(var.KayMcCormick.Dev.TargetDir)?>
  <?define LogService_TargetDir=$(var.LogService.TargetDir)?>
  <?define ProjInterface_TargetDir=$(var.ProjInterface.TargetDir)?>
  <?define ProjLib_TargetDir=$(var.ProjLib.TargetDir)?>
  <?define WcfService1_TargetDir=$(var.WcfService1.TargetDir)?>
  <?define WpfApp_TargetDir=$(var.WpfApp.TargetDir)?>
  <?define WpfApp2_TargetDir=$(var.WpfApp2.TargetDir)?>
  <?define KayMcCormick.Lib.Wpf_TargetDir=$(var.KayMcCormick.Lib.Wpf.TargetDir)?>
  <?define AnalysisControls_TargetDir=$(var.AnalysisControls.TargetDir)?><?define AnalysisFramework_TargetDir=$(var.AnalysisFramework.TargetDir)?>
  <Product Id="*" Name="Kay_McCormick_Deployment"
           Language="1033" Version="1.0.0.0"
           Manufacturer="Kay McCormick"
           UpgradeCode="715179d2-24c8-46d4-a637-03dabc5a52a1">
    <Package InstallerVersion="200" Compressed="yes"
             InstallScope="perMachine" />

    <MajorUpgrade
      DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature"
             Title="Kay_McCormick_Deployment" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="_files" />
      <ComponentGroupRef Id="lib_win32_x86_files" />
      <ComponentGroupRef Id="lib_win32_x64_files" />
      <ComponentGroupRef
        Id="lib_alpine_x64_native_.._files" />
      <ComponentGroupRef
        Id="lib_debian_arm64_native_.._files" />
      <ComponentGroupRef
        Id="lib_alpine.3.9_x64_native_.._files" />
      <ComponentGroupRef
        Id="lib_fedora_x64_native_.._files" />
      <ComponentGroupRef
        Id="lib_debian.9_x64_native_.._files" />
      <ComponentGroupRef Id="lib_linux_x64_native_.._files" />
      <ComponentGroupRef Id="lib_osx_native_.._files" />
      <ComponentGroupRef Id="lib_rhel_x64_native_.._files" />
      <ComponentGroupRef
        Id="lib_ubuntu.16.04_arm64_native_.._files" />
      <ComponentGroupRef
        Id="lib_ubuntu.18.04_x64_native_.._files" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER"
                   Name="Kay_McCormick_Deployment">
          <Directory Id="BIN" Name="bin" />
          <Directory Id="LogReceiverServiceDirectory"
                     Name="WcfLogReceiver">
            <Directory Id="LogReceiverServiceBinDir"
                       Name="bin" />
          </Directory>
          <Directory Id="bin" Name="bin" />
          <Directory Id="lib" Name="lib">
            <Directory Id="lib_win32" Name="win32">
              <Directory Id="lib_win32_x86" Name="x86" />
              <Directory Id="lib_win32_x64" Name="x64" />
            </Directory>
            <Directory Id="lib_ubuntu.18.04_x64"
                       Name="ubuntu.18.04-x64">
              <Directory Id="lib_ubuntu.18.04_x64_native"
                         Name="native">
                <Directory
                  Id="lib_ubuntu.18.04_x64_native_.."
                  Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_ubuntu.16.04_arm64"
                       Name="ubuntu.16.04-arm64">
              <Directory Id="lib_ubuntu.16.04_arm64_native"
                         Name="native">
                <Directory
                  Id="lib_ubuntu.16.04_arm64_native_.."
                  Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_rhel_x64" Name="rhel-x64">
              <Directory Id="lib_rhel_x64_native"
                         Name="native">
                <Directory Id="lib_rhel_x64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_osx" Name="osx">
              <Directory Id="lib_osx_native" Name="native">
                <Directory Id="lib_osx_native_.." Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_linux_x64" Name="linux-x64">
              <Directory Id="lib_linux_x64_native"
                         Name="native">
                <Directory Id="lib_linux_x64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_fedora_x64"
                       Name="fedora-x64">
              <Directory Id="lib_fedora_x64_native"
                         Name="native">
                <Directory Id="lib_fedora_x64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_debian_arm64"
                       Name="debian-arm64">
              <Directory Id="lib_debian_arm64_native"
                         Name="native">
                <Directory Id="lib_debian_arm64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_debian.9_x64"
                       Name="debian.9-x64">
              <Directory Id="lib_debian.9_x64_native"
                         Name="native">
                <Directory Id="lib_debian.9_x64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_alpine_x64"
                       Name="alpine-x64">
              <Directory Id="lib_alpine_x64_native"
                         Name="native">
                <Directory Id="lib_alpine_x64_native_.."
                           Name=".." />
              </Directory>
            </Directory>
            <Directory Id="lib_alpine.3.9_x64"
                       Name="alpine.3.9-x64">
              <Directory Id="lib_alpine.3.9_x64_native"
                         Name="native">
                <Directory
                  Id="lib_alpine.3.9_x64_native_.."
                  Name=".." />
              </Directory>
            </Directory>
          </Directory>
        </Directory>

      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents"
                    Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="LogReceiverServiceComponent"
                 Guid="9a4cf6ba-b641-4ded-8886-0d7d3c09d276">
        <CreateFolder />
        <CreateFolder
          Directory="LogReceiverServiceDirectory" />
        <Component Id="Global.asax"
                   Guid="edc006b6-b4f3-4793-bc1c-5af8099e255a">
          <File Id="Global.asax" Name="Global.asax"
                Source="$(var.WcfService1_TargetDir)\..\..\..\Global.asax" />
        </Component>
        <Component Id="ReceiveLogs.svc"
                   Guid="b348b6e7-b0a6-4e37-8db1-a8cee66c2728">
          <File Id="ReceiveLogs.svc" Name="ReceiveLogs.svc"
                Source="$(var.WcfService1_TargetDir)..\..\..\ReceiveLogs.svc" />
        </Component>
        <Component Id="Service1.svc"
                   Guid="62a94f48-3b93-460b-abf2-d5622211f578">
          <File Id="Service1.svc" Name="Service1.svc"
                Source="$(var.WcfService1_TargetDir)..\..\..\Service1.svc" />
        </Component>
        <Component Id="Web.config"
                   Guid="45912b54-d816-453e-9b51-8530a52e6b35">
          <File Id="Web.config" Name="Web.config"
                Source="$(var.WcfService1_TargetDir)..\..\..\Web.config" />
        </Component>
        <iis:WebSite SiteId="*"
                     Directory="LogReceiverServiceDirectory"
                     Id="LogReceiverServiceWebSite"
                     Description="My Site">
          <iis:WebAddress Id="LogReceiverServiceWebAddress"
                          Port="80" />
        </iis:WebSite>
      </Component>


      <Component Id="KayMcCormick.Dev.dll"
                 Guid="a1193935-56c2-42b1-ba5a-31250517b99c">
        <File Id="KayMcCormick.Dev.dll"
              Name="KayMcCormick.Dev.dll"
              Source="$(var.KayMcCormick.Dev_TargetDir)KayMcCormick.Dev.dll" />
      </Component>
      <Component Id="LogService.exe"
                 Guid="5b6d6e61-7fd9-4b1e-ae4e-9e98de85d6c2">
        <File Id="LogService.exe" Name="LogService.exe"
              Source="$(var.LogService_TargetDir)LogService.exe" />
      </Component>
      <Component Id="LogService.exe.config"
                 Guid="5cb9819f-a099-41fc-a61a-0e77ba274080">
        <File Id="LogService.exe.config"
              Name="LogService.exe.config"
              Source="$(var.LogService_TargetDir)LogService.exe.config" />
      </Component>


      <Component Id="ProjInterface.exe"
                 Guid="45ef7127-21a1-4bab-8d1b-1c92543e67ba">
        <File Id="ProjInterface.exe"
              Name="ProjInterface.exe"
              Source="$(var.ProjInterface_TargetDir)ProjInterface.exe" />
      </Component>
      <Component Id="ProjInterface.exe.config"
                 Guid="f63b16d2-d9a7-4e55-8d06-d92da516b779">
        <File Id="ProjInterface.exe.config"
              Name="ProjInterface.exe.config"
              Source="$(var.ProjInterface_TargetDir)ProjInterface.exe.config" />
      </Component>
      <Component Id="ProjLib.dll"
                 Guid="4bb3307e-d03b-4fa2-b053-8465d5e36aa3">
        <File Id="ProjLib.dll" Name="ProjLib.dll"
              Source="$(var.ProjLib_TargetDir)ProjLib.dll" />
      </Component>
      <Component Id="WpfApp.exe"
                 Guid="a8b84463-a0e5-40b1-befa-1ae32f963ebe">
        <File Id="WpfApp.exe" Name="WpfApp.exe"
              Source="$(var.WpfApp_TargetDir)WpfApp.exe" />
      </Component>
      <Component Id="WpfApp.exe.config"
                 Guid="2be12bb0-b1f3-4cab-bbc0-ebfefa749587">
        <File Id="WpfApp.exe.config"
              Name="WpfApp.exe.config"
              Source="$(var.WpfApp_TargetDir)WpfApp.exe.config" />
      </Component>
      <Component Id="WpfApp2.exe"
                 Guid="2dda6bbd-9daa-4527-ae21-72254a5dbf89">
        <File Id="WpfApp2.exe" Name="WpfApp2.exe"
              Source="$(var.WpfApp2_TargetDir)WpfApp2.exe" />
      </Component>
      <Component Id="WpfApp2.exe.config"
                 Guid="04b2f9ea-a9a9-401b-a36e-71bd079deaf5">
        <File Id="WpfApp2.exe.config"
              Name="WpfApp2.exe.config"
              Source="$(var.WpfApp2_TargetDir)WpfApp2.exe.config" />
      </Component>
      <Component Id="KayMcCormick.Lib.Wpf.dll"
                 Guid="f78ec651-f4bd-4078-a1d4-c00bdd04a452">
        <File Id="KayMcCormick.Lib.Wpf.dll"
              Name="KayMcCormick.Lib.Wpf.dll"
              Source="$(var.KayMcCormick.Lib.Wpf_TargetDir)KayMcCormick.Lib.Wpf.dll" />
      </Component>


      <Component Id="AnalysisControls.dll"
                 Guid="e66b8682-4f7e-40c0-b423-77ea453ace69">
        <File Id="AnalysisControls.dll"
              Name="AnalysisControls.dll"
              Source="$(var.AnalysisControls_TargetDir)AnalysisControls.dll" />
      </Component>
      <Component Id="AnalysisFramework.dll"
                 Guid="e2226093-f729-43cc-b2bd-b7e3efe7c643">
        <File Id="AnalysisFramework.dll"
              Name="AnalysisFramework.dll"
              Source="$(var.AnalysisFramework_TargetDir)AnalysisFramework.dll" />
      </Component>
      <Component Id="LibGit2Sharp.dll.config"
                 Guid="9d217e21-8036-4917-bed1-3ec27312f5e8">
        <File Id="LibGit2Sharp.dll.config"
              Name="LibGit2Sharp.dll.config"
              Source="$(var.ProjLib_TargetDir)LibGit2Sharp.dll.config" />
      </Component>
      <Component Id="NLog.config"
                 Guid="a4d842ff-cfaa-4065-8861-013838230300">
        <File Id="NLog.config" Name="NLog.config"
              Source="$(var.WcfService1_TargetDir)NLog.config" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="_files"
                    Directory="LogReceiverServiceBinDir">
      <Component Id="bin_WcfService1.dll"
                 Guid="acbe9251-30a5-43a4-a695-7d585469ebab">
        <File Id="bin_WcfService1.dll"
              Name="WcfService1.dll"
              Source="$(var.WcfService1_TargetDir)WcfService1.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_win32_x86_files"
                    Directory="lib_win32_x86">
      <Component Id="lib_win32_x86_git2_ef5a385.dll"
                 Guid="b6b0c70b-913e-4ec4-99e8-69e4b03a7489">
        <File Id="lib_win32_x86_git2_ef5a385.dll"
              Name="git2-ef5a385.dll"
              Source="$(var.ProjLib_TargetDir)lib\win32\x86\git2-ef5a385.dll" />
      </Component>
      <Component Id="lib_win32_x86_git2_ef5a385.pdb"
                 Guid="040e36ad-9bd2-4836-863f-0bb269c89a1d">
        <File Id="lib_win32_x86_git2_ef5a385.pdb"
              Name="git2-ef5a385.pdb"
              Source="$(var.ProjLib_TargetDir)lib\win32\x86\git2-ef5a385.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_win32_x64_files"
                    Directory="lib_win32_x64">
      <Component Id="lib_win32_x64_git2_ef5a385.dll"
                 Guid="d75e0226-8330-4c92-b69d-a4f39e570d73">
        <File Id="lib_win32_x64_git2_ef5a385.dll"
              Name="git2-ef5a385.dll"
              Source="$(var.ProjLib_TargetDir)lib\win32\x64\git2-ef5a385.dll" />
      </Component>
      <Component Id="lib_win32_x64_git2_ef5a385.pdb"
                 Guid="7d6f9a35-e0fc-4e8b-99f3-37bb48ae98e5">
        <File Id="lib_win32_x64_git2_ef5a385.pdb"
              Name="git2-ef5a385.pdb"
              Source="$(var.ProjLib_TargetDir)lib\win32\x64\git2-ef5a385.pdb" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_alpine_x64_native_.._files"
                    Directory="lib_alpine_x64_native_..">
      <Component
        Id="lib_alpine_x64_native_.._libgit2_ef5a385.so"
        Guid="cf23e13e-2714-444f-807c-95f4f54ad73f">
        <File
          Id="lib_alpine_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\alpine-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_debian_arm64_native_.._files"
                    Directory="lib_debian_arm64_native_..">
      <Component
        Id="lib_debian_arm64_native_.._libgit2_ef5a385.so"
        Guid="67688ef8-6f71-42d9-9915-489efb28c31e">
        <File
          Id="lib_debian_arm64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\debian-arm64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_alpine.3.9_x64_native_.._files"
                    Directory="lib_alpine.3.9_x64_native_..">
      <Component
        Id="lib_alpine.3.9_x64_native_.._libgit2_ef5a385.so"
        Guid="00abc45e-dd8a-4b9a-9c90-48cdcb6bab69">
        <File
          Id="lib_alpine.3.9_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\alpine.3.9-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_fedora_x64_native_.._files"
                    Directory="lib_fedora_x64_native_..">
      <Component
        Id="lib_fedora_x64_native_.._libgit2_ef5a385.so"
        Guid="d8d4d2a7-d8d2-44d3-883c-6884a8d79907">
        <File
          Id="lib_fedora_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\fedora-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_debian.9_x64_native_.._files"
                    Directory="lib_debian.9_x64_native_..">
      <Component
        Id="lib_debian.9_x64_native_.._libgit2_ef5a385.so"
        Guid="56c72fa8-8494-4d8c-976e-b5b6ddeb499c">
        <File
          Id="lib_debian.9_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\debian.9-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_linux_x64_native_.._files"
                    Directory="lib_linux_x64_native_..">
      <Component
        Id="lib_linux_x64_native_.._libgit2_ef5a385.so"
        Guid="147ec442-b02e-42a3-b167-3ff405f31569">
        <File
          Id="lib_linux_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\linux-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_osx_native_.._files"
                    Directory="lib_osx_native_..">
      <Component
        Id="lib_osx_native_.._libgit2_ef5a385.dylib"
        Guid="b89b0dae-7c21-4871-a71a-bdafd372e559">
        <File Id="lib_osx_native_.._libgit2_ef5a385.dylib"
              Name="libgit2-ef5a385.dylib"
              Source="$(var.ProjLib_TargetDir)lib\osx\native\..\libgit2-ef5a385.dylib" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="lib_rhel_x64_native_.._files"
                    Directory="lib_rhel_x64_native_..">
      <Component
        Id="lib_rhel_x64_native_.._libgit2_ef5a385.so"
        Guid="27d9703b-2145-48fb-9685-3d7591357df3">
        <File
          Id="lib_rhel_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\rhel-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup
      Id="lib_ubuntu.16.04_arm64_native_.._files"
      Directory="lib_ubuntu.16.04_arm64_native_..">
      <Component
        Id="lib_ubuntu.16.04_arm64_native_.._libgit2_ef5a385.so"
        Guid="3f1d5e06-4c0d-4dd8-bce1-6214a3795b9e">
        <File
          Id="lib_ubuntu.16.04_arm64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\ubuntu.16.04-arm64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <ComponentGroup
      Id="lib_ubuntu.18.04_x64_native_.._files"
      Directory="lib_ubuntu.18.04_x64_native_..">
      <Component
        Id="lib_ubuntu.18.04_x64_native_.._libgit2_ef5a385.so"
        Guid="c07a85d4-532d-419f-a15c-9ab15a50b637">
        <File
          Id="lib_ubuntu.18.04_x64_native_.._libgit2_ef5a385.so"
          Name="libgit2-ef5a385.so"
          Source="$(var.ProjLib_TargetDir)lib\ubuntu.18.04-x64\native\..\libgit2-ef5a385.so" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>