<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define KayMcCormick.Dev_TargetDir=$(var.KayMcCormick.Dev.TargetDir)?>
	<Product Id="*" Name="ClassLibSetup" Language="1033" Version="1.0.0.0" Manufacturer="Kay McCormick" UpgradeCode="e594378e-b3bc-403f-bd33-298fc8f6b322">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="ClassLibSetup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="KayMcCormick" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="xunit.abstractions.dll" Guid="fb0cc4cf-5b5e-4e10-9ed2-8c2f8689d1b8">
			  <File Id="xunit.abstractions.dll" Name="xunit.abstractions.dll" Source="$(var.KayMcCormick.Dev_TargetDir)xunit.abstractions.dll" />
			</Component>
			<Component Id="KayMcCormick.Dev.dll" Guid="ed9a9a8a-b2a6-419c-aa1e-4922b3aab209">
			  <File Id="KayMcCormick.Dev.dll" Name="KayMcCormick.Dev.dll" Source="$(var.KayMcCormick.Dev_TargetDir)KayMcCormick.Dev.dll" />
			</Component>
			<Component Id="NLog.dll" Guid="a9e270b1-fea3-4da2-b38b-449a793beab6">
			  <File Id="NLog.dll" Name="NLog.dll" Source="$(var.KayMcCormick.Dev_TargetDir)NLog.dll" />
			</Component>
			<Component Id="Autofac.dll" Guid="b4baa411-43ae-4412-bf09-a5565a473ce5">
			  <File Id="Autofac.dll" Name="Autofac.dll" Source="$(var.KayMcCormick.Dev_TargetDir)Autofac.dll" />
			</Component>
			<Component Id="System.Reactive.dll" Guid="3af16566-dd37-4af5-b16d-c42bb83d38f9">
			  <File Id="System.Reactive.dll" Name="System.Reactive.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Reactive.dll" />
			</Component>
			<Component Id="xunit.core.dll" Guid="0bff358c-3a90-4bee-9a6d-4e4414cd9588">
			  <File Id="xunit.core.dll" Name="xunit.core.dll" Source="$(var.KayMcCormick.Dev_TargetDir)xunit.core.dll" />
			</Component>
			<Component Id="Castle.Core.dll" Guid="c1d7d384-d00b-40ea-bf0e-a4a05c48cbb3">
			  <File Id="Castle.Core.dll" Name="Castle.Core.dll" Source="$(var.KayMcCormick.Dev_TargetDir)Castle.Core.dll" />
			</Component>
			<Component Id="System.Text.Json.dll" Guid="590d3292-f1ca-4230-92eb-81a33405515c">
			  <File Id="System.Text.Json.dll" Name="System.Text.Json.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Text.Json.dll" />
			</Component>
			<Component Id="xunit.execution.desktop.dll" Guid="b6388f20-965f-4216-be22-48d6a2a7d7cb">
			  <File Id="xunit.execution.desktop.dll" Name="xunit.execution.desktop.dll" Source="$(var.KayMcCormick.Dev_TargetDir)xunit.execution.desktop.dll" />
			</Component>
			<Component Id="Microsoft.Bcl.AsyncInterfaces.dll" Guid="1b08616d-b7bb-4444-b818-660dacb69250">
			  <File Id="Microsoft.Bcl.AsyncInterfaces.dll" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.KayMcCormick.Dev_TargetDir)Microsoft.Bcl.AsyncInterfaces.dll" />
			</Component>
			<Component Id="System.Threading.Tasks.Extensions.dll" Guid="d3a13770-329d-418f-bcff-d1fc85a5079e">
			  <File Id="System.Threading.Tasks.Extensions.dll" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Threading.Tasks.Extensions.dll" />
			</Component>
			<Component Id="System.Runtime.CompilerServices.Unsafe.dll" Guid="4e801f99-188b-49f7-9321-8ba02fa274b8">
			  <File Id="System.Runtime.CompilerServices.Unsafe.dll" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Runtime.CompilerServices.Unsafe.dll" />
			</Component>
			<Component Id="System.ValueTuple.dll" Guid="a23bfc45-ce04-4892-9c15-6e5a33b24bab">
			  <File Id="System.ValueTuple.dll" Name="System.ValueTuple.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.ValueTuple.dll" />
			</Component>
			<Component Id="System.Memory.dll" Guid="be6b1018-b95e-4b15-b6a7-26a88f505a0f">
			  <File Id="System.Memory.dll" Name="System.Memory.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Memory.dll" />
			</Component>
			<Component Id="System.Numerics.Vectors.dll" Guid="489cb3d0-4108-46c8-bd43-9a69a5fc4158">
			  <File Id="System.Numerics.Vectors.dll" Name="System.Numerics.Vectors.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Numerics.Vectors.dll" />
			</Component>
			<Component Id="System.Buffers.dll" Guid="0567be62-8d2c-49b6-9a05-5fc2cbfb5fd6">
			  <File Id="System.Buffers.dll" Name="System.Buffers.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Buffers.dll" />
			</Component>
			<Component Id="System.Text.Encodings.Web.dll" Guid="e608d811-4235-4f8a-a9ca-91cc5161f381">
			  <File Id="System.Text.Encodings.Web.dll" Name="System.Text.Encodings.Web.dll" Source="$(var.KayMcCormick.Dev_TargetDir)System.Text.Encodings.Web.dll" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
